$grid-width: 114rem;
$gutter-vertical: 8rem;     //gutter is the blank s[ace
$gutter-horizontal:6rem;
$gutter-vertical-small: 6rem;
//font

@mixin respond($breakpoint) {
    
            @if $breakpoint == phone {
                //600px
                @media only screen and (max-width : 37.5em) { @content};
    
            }
    
            @if $breakpoint == tab-port {
                
                            @media only screen and (max-width : 56.25em) { @content};
                
                        
                        
            }
    
            @if $breakpoint == tab-land {
                
                            @media only screen and (max-width : 75em) { @content};
                
            }
    
            @if $breakpoint == big-desktop {
                
                            @media only screen and (min-width : 112.5em) { @content};
                
            }
    
    
    
    }


    @mixin clearfix {
        &::after{
            content:"";
            display:table;
            clear:both;
        }
    }
    
    
    @mixin absCenter {
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
    }

.row {
    max-width: $grid-width;
     
    margin:0 auto;
   
 
     //using the not pseudo selector..selecting everythin except the last child
 
         &:not(:last-child)  {
         margin-bottom: $gutter-vertical;
         
         //&:last-child {
         //    margin-bottom:0;
         //}
             @include respond(tab-port) {
                 margin-bottom: $gutter-vertical-small;
             }
         }
     
     @include respond(tab-port) {
         max-width: 50rem;
         padding: 0 3rem;
     }
     //working on the columns
        
     @include clearfix;
     //using the attribute selector
     //selecting all the classes that starts with col class^//
     //selecting all the classes that contains col class*//
     //selecting all the classes that ends with col class$//
     [class^="col-"] {
           
         float:left;
 
         &:not(:last-child) {
             margin-right: $gutter-horizontal;
         
             @include respond(tab-port) {
                 margin-right: 0;
                 margin-bottom: $gutter-vertical-small;
             }
 
         }
 
         @include respond(tab-port) {
             width:100% !important;
         }
 
 
         
     }
     
 
     .col-1-of-2 {   
         //we use calc as we mix multiple units
         width: calc((100% -  #{$gutter-horizontal})/2);
        
     }
 
     .col-1-of-3 {
         width: calc((100% - 2*#{$gutter-horizontal})/3);
     }
 
     .col-1-of-4 {
         width: calc((100% - 3*#{$gutter-horizontal})/4);
     }
 
     .col-2-of-3 {
         width: calc(2*((100% - 2*#{$gutter-horizontal})/3) + #{$gutter-horizontal});
     }
 
     .col-3-of-4 {
         width: calc(2 * ((100% - 3 * #{$gutter-horizontal}) / 4) + #{$gutter-horizontal});
     }
 
     
 
 }